<nav class="u-background">
  <div class="u-wrapper">
    <ul class="Banner">
      <li class="Banner-item Banner-item--title">
        <a class="Banner-link u-clickable" href="{{ "" | absURL }}">{{ site.Title }}</a>
      </li>
      {{ if .IsTranslated }}
          {{ range .Translations }}
          <li class="Banner-item">
              <a class="Banner-link u-clickable" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
          </li>
          {{ end}}
      {{ end }}
      {{ range site.Menus.nav }}
      <li class="Banner-item">
        <a class="Banner-link u-clickable" href="{{ .URL | absURL }}">{{ .Name }}</a>
        {{ end }}
      </li>
    </ul>
  </div>
</nav>